<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/style.css') }}">
</head>
<body>
<div class="header">
    <a href="/">
        <div class="logo">
            <h1>FoodApp</h1>
            <h4>Fresh & Pure</h4>
        </div>
    </a>
</div>

<div class="login">
    <form method="POST" action="/signin">
        <h2>Please Enter Login Details</h2>
        <h3 class="{{className}}">{{ message }}</h3>
        <input type="text" maxlength="80" size="25" id="username" name="username" placeholder="Enter username/email" />
        <input type="password" maxlength="80" size="25" id="password" name="password"
               placeholder="Enter your password"/>
        <br/>
        <a href="/signup" class="btn-group__item All"> Signup </a> &nbsp;
        <button type="submit" class="btn-group__item All">Login</button>
    </form>
</div>

</body>
</html>